celery
channels
daphne
django
djangorestframework
django-celery-results
django-cors-headers
pandas
Pillow
redis
tqdm

# findmytie_ml requirements
matplotlib
numpy
scikit-learn
scikit-image
opencv-python
